html {
    box-sizing: border-box;
    background-color: #f2fled;
    font-family: Georgia, serif;
    line-height: 1.5;
  }

  *, *::before, *::after {
    box-sizing: inherit;
  }

  img {
    width: 100%;
  }

h1, h2  {
  color: #5d8432;
  text-transform: uppercase;
}
