html {
  box-sizing: border-box;
  background-color: #f2f1ed;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

h1, h2, h3 {
  color: #5d8432;
  text-transform: uppercase;
  font-family: "Patua One", serif;
  font-weight: bold;
}

figcaption {
  font-size: .8rem;
  font-style: italic;
  text-align: center;
}

nav {
  font-size: 1.126rem;
  font-family: "Patua One", sans-serif;
  font-weight: bold;
}

nav ol {
  list-style-type: none;
}

nav a {
  color: #793284;
  text-decoration: none;
}

nav a:hover {
  color: #b42885;
  text-decoration: underline;
}

.intro {
  font-size: 1rem;
}
